<nav class="dt w-100 mw8 center">
  <div class="dtc w2 v-mid pa3">
    <!-- logo here if I ever want one -->
  </div>
  <div class="dtc v-mid tr pa3">
    {% if page.layout != 'home' %}
    <a class="f6 fw4 no-underline {{layout.color}} dn dib-ns pv2 ph3" href="/">Home</a>
    {% endif %}
    <a class="f6 fw4 no-underline {{layout.color}} dn dib-ns pv2 ph3" href="/projects">Projects</a>
    <a class="f6 fw4 no-underline {{layout.color}} dn dib-ns pv2 ph3" href="/posts">Posts</a>
    <a class="f6 fw4 no-underline {{layout.color}} dn dib-ns pv2 ph3" href="/notes">Notes</a>
    <a class="f6 fw4 no-underline {{layout.color}} dn dib-ns pv2 ph3" href="/publications">Publications</a>
    <a class="f6 fw4 no-underline {{layout.color}} dn dib-ns pv2 ph3" href="/presentations">Presentations</a>
    <a class="f6 fw4 no-underline {{layout.color}} dn dib-ns pv2 ph3" href="/about">About</a>
  </div>
</nav>
